.sender {
  padding-top: 10px;
  border-radius: 50px;
  width: 80%;
  padding-left: 5%;
}
.textarea {
  width: 84%;
}
.header-image{
  background-image: url("~/assets/shareIcon.png");
  background-size: cover;
}
img {
  cursor: pointer;
  margin-right: 10px;
}
