.message-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.txt-div {
  margin-left: 20px;
}
.img-div {
  margin-top: 20px;
  width: 100px;
}
.message-card {
  width: fit-content;
  height: auto;
  border-radius: 15px;

}
.img {
  width: 100%;
}
.header-image {
  top: 5px;
  position: relative;
  background-image: url("~/assets/userIcon.png");
  background-size: cover;
}
