.message-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.txt-div {
  margin-left: 20px;
}
.img-div {
  width: 20%;
}
.img {
  width: 100%;
}
.header-image {
  top: 5px;
  position: relative;
  background-image: url("~/assets/userIcon.png");
  background-size: cover;
}
