.dir-container
  display flex
  flex-direction column
.file-container
  display flex
  flex-direction row
  flex-wrap wrap
hr
  border 0.5px solid lightgray
  opacity 0.5
.row
  display flex
  flex-wrap wrap
  flex-direction row
  transition background-color 0.5s
  div
    padding 10px
    height max-height
    vertical-align center
    align-self center
    text-align center
    width 30%
    button
      margin-left 5px
  div:last-child
    margin-right 0px
.row:hover
  background-color #f9f9f9

.header:hover
  background-color #141414;

.header
  background-color #141414
  color: #f9f9f9
  border-top-right-radius 20px
  border-top-left-radius 20px
  opacity 0.9
.elipse
  border-radius 20px
.none
  border none
  background none
.align-btn
  vertical-align bottom
  margin-right 5px
