<mat-card >
  <mat-card-header>
    <mat-card-title>{{directory.name}}</mat-card-title>
    <mat-card-subtitle><mat-icon class="align-btn">folder_open</mat-icon>{{directory.path}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="dir-container">
      <div class="row header">
        <div>Nombre</div>
        <div>Tamaño</div>
        <div>Acciones</div>
      </div>
      <!-- Directories -->
      <h3>Directorios</h3>
      <div *ngFor="let dir of directory.directories; let i = index">
        <div  class="row elipse">
          <div (focus)="onSubmitElem('file_'+i, file)"  (mouseenter)="onDbClickElem('dir_'+i)">
            <input class="none" [id]="'dir_' + i"  (keyup.enter)="onSubmitElem('dir_'+i, dir)" type="text" disabled value="{{dir.name}}">
          </div>
          <div (dblclick)="onDirOpened(dir)">
            <label>{{dir.size}}</label>
          </div>
          <div>
            <!-- button mat-flat-button color="accent">Descargar</button-->
            <button mat-flat-button color="accent" (click)="onDeleteDir(dir)">Eliminar</button>
          </div>
          <!-- Ro do , on delete file and direcotry -->
        </div>
        <hr>
      </div>
      <h3>Archivos</h3>
      <!-- Files -->
      <div *ngFor="let file of directory.files; let i = index">
        <div class="row elipse" >
          <div (focus)="onSubmitElem('file_'+i, file)" (mouseenter)="onDbClickElem('file_'+i)">
           <input type="text" [id]="'file_' + i" (keyup.enter)="onSubmitElem('file_'+i, file)" class="none" disabled value="{{file.name}}">
          </div>
          <div (dblclick)="getFile(file)">{{file.size}}</div>
          <div>
            <button mat-flat-button (click)="getFile(file)" color="accent">Descargar</button>
            <button mat-flat-button (click)="onDeleteFile(file)" color="accent">Eliminar</button>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </mat-card-content>
</mat-card>
