/* You can add global styles to this file, and also import other style files */
@import "~@ctrl/ngx-emoji-mart/picker";

html, body { height: fit-content; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #141414 }
* {
  font-family: "Roboto Condensed";
  color: #f9f9f9;
}
hr{
  background-color: #f9f9f9;
  border: 1px solid cornflowerblue;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.btn_array {
  display: flex;
  flex-direction: row;
}

