@import "~@ctrl/ngx-emoji-mart/picker";
.textarea {
  width: 85%;
}
.my-img {
  border-radius: 5px;
  cursor: pointer;
  width: 5%;
  height: 5%;
  margin: 15px;
}
.my-card {
  width: auto;
  height: auto;
  border-radius: 50px;
}
.card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
