<div class="page">
  <div class="users-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title >Usuarios Conectados</mat-card-title>
      </mat-card-header>
    </mat-card>
    <div *ngFor="let user of usServ.getOnlineUsers() | async">
      <mat-card class="my-card">
        <mat-card-content>{{user._username}}</mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="linea"></div>
  <div class="chat-container">
    <div class="messages-container" >
      <div *ngFor="let m of mensajes$ | async">
      <app-message-container  [message]="m"></app-message-container>
      </div>
    </div>
    <div class="sender-container">
      <app-message-sender (messageSent)="mensajes.push($event)" recieverID="test" [username]="usServ.getUsername()"></app-message-sender>
    </div>
  </div>
</div>
