<div class="page">
  <mat-card class="interes-card">
    <mat-card-header>
      <mat-card-title>Chat</mat-card-title>
      <mat-card-subtitle>Seleccione al usuario que desea enviarle el mensaje</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="set-width ">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table  mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuarios conectado </th>
          <td (click)="router.navigate(BASE_TOPIC_URL + row)" mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
