<div class="page">
  <div class="users-container">
    <button (click)="goLogin()" mat-button color="accent">Cerrar Sesión</button>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar (click)="toggleStatus()" [ngClass]="status ? 'online' : 'offline'" ></div>
        <mat-card-title >Usuario: {{usServ.getUsername()}}</mat-card-title>
        <mat-card-subtitle>{{status ? 'Conectado':'Invisible'}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div *ngFor="let user of userssWithTodos$ | async">
      <mat-card [ngClass]="user.id == currentChatID ? 'user-card-selected' : ''" class="user-card" (click)="switchChat(user)" *ngIf="usServ.getCurrentUser().id !== user.id" >
        <mat-card-content>
          <span [matBadgeHidden]="recievedMap.get(currentChatID).disabled" matBadge="0" class="hide-text" matBadgeColor="warn" matBadgeOverlap="false">
            {{user.username}}
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="chat-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{userSelected}}</mat-card-title>
      </mat-card-header>
    </mat-card>
    <div  class="messages-container" >
      <div *ngFor="let m of mensajes$ | async">
        <app-message-container [fromSender]="usServ.getCurrentUser().id == m.autor"  [autor]="usernameMap.get(m.autor)" (load)="this.requestFocus()" [message]="m"></app-message-container>
      </div>
    </div>
    <div class="sender-container">
      <app-message-sender (messageSent)="onMessageSent($event)" [recieverID]="currentChatID"  [fromID]="usServ.getCurrentUser().id"></app-message-sender>
    </div>
  </div>
</div>
