<div *ngIf="isValidTopic then page"></div>
<ng-template #page>
  <div class="page" >
    <div>
      <button (click)="goHome()" mat-flat-button color="warn"><mat-icon>home</mat-icon></button>
    </div>
    <div  class="pool" *ngFor="let msg of topicServ.getMessagesObservable() | async">
      <app-message-container [message]="msg"></app-message-container>
    </div>
    <div class="sender">
      <app-message-sender [username]="uService.getUsername()" [topic]="topicInRoute"></app-message-sender>
    </div>
    <div>
      <button (click)="goHome()" mat-flat-button color="warn"><mat-icon>home</mat-icon></button>
    </div>
  </div>
</ng-template>

